@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Black.woff2") format("woff2"),
		url("../fonts/AzoSans-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Light.woff2") format("woff2"),
		url("../fonts/AzoSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Bold.woff2") format("woff2"),
		url("../fonts/AzoSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Thin.woff2") format("woff2"),
		url("../fonts/AzoSans-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Regular.woff2") format("woff2"),
		url("../fonts/AzoSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Medium.woff2") format("woff2"),
		url("../fonts/AzoSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

:root {
	--azul: #1e1c41;
	--azulClaro: #484758;
	--verde: #00d06f;
	--verdeEscuro: #1ab559;
	--bege: #fff0d2;
	--begeEscuro: #e6d8bd;
	--bg: var(--bege);
	--fg: var(--azul);
}

::selection {
	background-color: var(--verde);
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	color: var(--fg);
	transition: background 200ms ease-in-out, color 700ms ease-in-out;
	font-family: "Azo Sans", sans-serif;
}

header {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 14vh;
	position: relative;
	z-index: 1000;
}

#logoContainer {
	display: flex;
	justify-content: flex-end;
}

#logo {
	width: 69px;
}

nav {
	background-color: transparent;
	height: 40px;
	display: flex;
	padding-left: 10px;
}

#navList {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style-type: none;
	width: 100%;
}

.navBtn {
	padding: 10px;
}

#navList li {
	padding: 0 30px;
	position: relative;
}

.icon {
	position: absolute;
	top: 14px;
	left: 14px;
}

.icon1 {
	position: absolute;
	top: 4px;
	left: 40px;
	z-index: 1000;
}

.icon2 {
	position: absolute;
	top: 4px;
	left: 14%;
	z-index: 1000;
}

.btnTheme {
	border-radius: 3px;
	position: relative;
	width: 25px;
	height: 25px;
	background-color: var(--bege);
	cursor: pointer;
}

.icon3 {
	position: absolute;
	top: 2px;
	left: 2px;
}

li a {
	color: #fff0d2;
	font-size: 14px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--fg);
}

.divider {
	background-color: var(--bege);
	width: 2px;
	height: 70%;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 4px;
	background-color: var(--bege);
	margin: 5px;
}

.btnSubmit {
	box-sizing: border-box;
	background-color: var(--verde);
	height: 30px;
	border: 0;
	border-radius: 4px;
	font-family: "Azo Sans", sans-serif;
	font-weight: 500;
	font-size: 11px;
	color: var(--bege);
	padding: 9px 10px 9px 40px;
	cursor: pointer;
	transform: scale(1);
	transition-duration: 0.25s;
}

.btnSubmit:hover {
	transform: scale(1.05);
	transition-duration: 0.25s;
}

li:first-child {
	font-weight: 700;
	display: inline-block;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all 0.3s;
	will-change: width;
}
nav ul li a:hover {
	color: #fff7e8;
}

/* stroke */
nav ul li a {
	position: relative;
}
nav ul li a:after {
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: ".";
	color: transparent;
	background: var(--verde);
	height: 3px;
}
nav ul li a:hover:after {
	width: 100%;
}

#videoBG {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: auto;
}

#gradient {
	content: "";
	position: absolute;
	background: linear-gradient(180deg, #000000af 0%, #22222200 100%);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

@media (min-aspect-ratio: 16/9) {
	#videoBG {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	#videoBG {
		width: auto;
		height: 100%;
	}
}

main {
	height: 85vh;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 99;
}

#main-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 1000px;
	margin-top: 100px;
}

h2 {
	color: var(--bege);
	font-weight: 700;
	font-size: 60px;
	margin: 0;
}

h4 {
	color: var(--bege);
	margin: 5px 0 30px 0;
	font-weight: 100;
	font-size: 23px;
}

#search-form {
	display: grid;
	grid-template-columns: 40% 25% 25% 5%;
	grid-template-rows: 50px 230px;
	grid-gap: 1%;
	width: 100%;
	position: relative;
}

.search-item-container {
	position: relative;
	height: 100%;
}

.search-item {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	color: var(--azul);
	font-family: "Azo Sans", sans-serif;
	font-size: 14px;
	background-color: var(--bege);
	outline: none;
	border: 0;
	padding-left: 52px;
	padding-top: 6px;
}

.si-2,
.si-3 {
	cursor: pointer;
}

.sic-4 {
	background-color: var(--verde);
	width: 100%;
	cursor: pointer;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.sic-4:active {
	margin-top: 1px;
	margin-left: 1px;
	width: 96%;
	height: 96%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.sic-4:hover {
	background-color: var(--verdeEscuro);
}

.sic-4 svg {
	top: 5px;
	left: 5px;
	height: 80%;
	width: 80%;
}

.dropdown,
.dropdown2,
.dropdown3 {
	margin-top: 6px;
	width: 100%;
	height: 230px;
	background-color: var(--bege);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bege);
	position: relative;
	z-index: 990;
	transition: height 0.27s;
}

.hidden {
	height: 0%;
	visibility: hidden;
}

#linkMap-Container {
	padding: 10px 0;
	display: flex;
	justify-content: center;
	border-top: 1px solid rgba(72, 71, 88, 0.2);
	width: 50%;
	margin-bottom: 2px;
}

#linkMap {
	margin-top: 3px;
}

#linkMap2 {
	padding-top: 5px;
}

.icon-map {
	margin-right: 7px;
}

ul {
	margin: 0;
	padding: 0;
}

.list-container {
	height: 90%;
	overflow: auto;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

.list-container ul li {
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 20px 0;
	cursor: pointer;
}

.dropdown2 .list-container {
	padding-left: 30px;
	padding-right: 30px;
}

.dropdown2 .list-container ul li h5 {
	font-weight: 400;
}

.dropdown2 .list-container ul li h5 span {
	color: #6b6b79;
	font-weight: 400;
}

h6,
h5 {
	margin: 0;
}

h5 {
	font-weight: 400;
	font-size: 18px;
}

h6 {
	font-weight: 400;
	font-size: 11px;
	color: #80808a;
}

#linkMap-Container2 {
	padding: 10px 0;
	display: flex;
	justify-content: center;
	margin-bottom: 2px;
	width: 100%;
	font-size: 13px;
}

@media screen and (max-width: 1000px) {
	#main-container {
		margin-top: 0px;
	}

	#search-form {
		grid-template-columns: 50% 50%;
		grid-template-rows: 45px 45px 45px;
		row-gap: 6px;
	}

	.sic-1 {
		grid-column: 1/3;
	}

	.sic-2 {
		grid-column: 1/2;
	}

	.sic-3 {
		grid-column: 2/3;
	}

	.sic-4 {
		grid-row: 3/4;
		grid-column: 1/4;
		width: 99%;
		position: relative;
	}

	.sic-4 svg {
		position: absolute;
		top: 7%;
		left: 10%;
	}
}

@media screen and (max-width: 1030px) {
	body {
		overflow-x: hidden;
	}

	header {
		display: flex;
		width: 100vw;
		position: relative;
		top: 0;
		left: 0;
	}

	nav {
		position: absolute;
		right: 0px;
		height: 100vh;
		width: 100vw;
		top: 0;
		background-color: var(--verde);
		display: flex;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.3s;
		will-change: transform;
	}

	#navList {
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	#navList li a {
		font-size: 30px;
	}

	.burger {
		display: block;
		margin-right: 50px;
		position: relative;
		z-index: 1000;
	}

	#logoContainer {
		padding: 0 0 0 85px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
	}

	#logo {
		width: 70px;
		height: 70px;
		position: absolute;
		margin: auto 0;
		top: 20%;
		left: 50%;
	}

	.divider {
		display: none;
	}

	.btnSubmit {
		font-size: 20px;
		background-color: var(--azul);
		height: 45px;
		width: 100%;
	}

	.icon1 {
		top: 11px;
	}

	.icon2 {
		top: 11px;
		left: 15px;
	}
}

.nav-active {
	transform: translateX(0%);
}
.swal2-title,
.swal2-content {
	color: var(--bege) !important;
}
