@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Black.woff2") format("woff2"),
		url("../fonts/AzoSans-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Light.woff2") format("woff2"),
		url("../fonts/AzoSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Bold.woff2") format("woff2"),
		url("../fonts/AzoSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Thin.woff2") format("woff2"),
		url("../fonts/AzoSans-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Regular.woff2") format("woff2"),
		url("../fonts/AzoSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Medium.woff2") format("woff2"),
		url("../fonts/AzoSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

:root {
	--azul: #1e1c41;
	--azulClaro: #484758;
	--verde: #11c671;
	--verdeEscuro: #1ab559;
	--bege: #fff0d2;
	--begeEscuro: #e6d8bd;
	--bg: var(--bege);
	--fg: var(--azul);
}

::selection {
	background-color: var(--verde);
}

body {
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	color: var(--fg);
	transition: background 200ms ease-in-out, color 700ms ease-in-out;
	font-family: "Azo Sans", sans-serif;
	min-height: 100%;
	overflow-x: hidden;
}

header {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9vh;
	background-color: var(--azul);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.26);
	position: relative;
	z-index: 1000;
}

#logoContainer {
	display: flex;
	justify-content: flex-end;
}

#logo {
	width: 69px;
}

nav {
	background-color: var(--azul);
	height: 40px;
	display: flex;
	padding-left: 10px;
}

#navList {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style-type: none;
	width: 100%;
}

.navBtn {
	padding: 10px;
}

#navList li {
	padding: 0 30px;
	position: relative;
}

.icon1 {
	position: absolute;
	top: 4px;
	right: 100px;
	z-index: 1000;
}

.icon2 {
	position: absolute;
	top: 4px;
	left: 14%;
	z-index: 1000;
}

.btnTheme {
	border-radius: 3px;
	position: relative;
	width: 25px;
	height: 25px;
	background-color: var(--bege);
	cursor: pointer;
}

.icon3 {
	position: absolute;
	top: 2px;
	left: 1.5px;
}

li a {
	color: #fff0d2;
	font-size: 14px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--fg);
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all 0.3s;
	will-change: width;
}
nav ul li a:hover {
	color: #fff7e8;
}

/* stroke */
nav ul li a {
	position: relative;
}
nav ul li a:after {
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: ".";
	color: transparent;
	background: var(--verde);
	height: 3px;
}
nav ul li a:hover:after {
	width: 100%;
}

.divider {
	background-color: var(--bege);
	width: 2px;
	height: 70%;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 4px;
	background-color: var(--azul);
	margin: 5px;
}

.btnSubmit {
	box-sizing: border-box;
	background-color: var(--verde);
	height: 30px;
	border: 0;
	border-radius: 4px;
	font-family: "Azo Sans", sans-serif;
	font-weight: 500;
	font-size: 11px;
	color: var(--bege);
	padding: 9px 10px 9px 40px;
	cursor: pointer;
	transform: scale(1);
	transition-duration: 0.25s;
}

.btnSubmit:hover {
	transform: scale(1.05);
	transition-duration: 0.25s;
}

.container1 {
	height: 92vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	text-align: center;
}

.container1 p span {
	font-weight: 700;
}

.container1 p {
	font-size: 23px;
	font-weight: 300;
}

.container1 h1 {
	font-weight: 900;
}

.container1 h1 span {
	font-weight: 700;
}

h1 {
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 100px;
}

h3 {
	font-size: 23px;
}

.ondaContainer {
	position: absolute;
	bottom: -5px;
}

#onda {
	width: 100%;
}

@media screen and (max-width: 1190px) {
	#navList li {
		padding: 0 20px;
	}
}

@media screen and (max-width: 1030px) {
	body {
		overflow-x: hidden;
	}

	header {
		display: flex;
		width: 100vw;
		position: relative;
		top: 0;
		left: 0;
	}

	nav {
		position: absolute;
		right: 0px;
		height: 100vh;
		width: 100vw;
		top: 0;
		background-color: var(--verde);
		display: flex;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.3s;
		will-change: transform;
	}

	#navList {
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	#navList li a {
		font-size: 30px;
	}

	.burger {
		display: block;
		margin-right: 50px;
		position: relative;
		z-index: 1000;
	}

	#logoContainer {
		padding: 0 0 0 85px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
	}

	#logo {
		width: 50px;
		height: 50px;
		position: absolute;
		margin: auto 0;
		top: 10%;
		left: 50%;
	}

	.divider {
		display: none;
	}

	.btnSubmit {
		font-size: 20px;
		background-color: var(--azul);
		height: 45px;
		width: 100%;
	}

	.icon1 {
		top: 11px;
	}

	.icon2 {
		top: 11px;
		left: 15px;
	}
}

.nav-active {
	transform: translateX(0%);
}

.dark {
	background-color: var(--azul);
	color: var(--bege);
}

.dark #btnLogin {
	background-color: var(--verde);
}

.dark #linkNewAccount span a {
	color: var(--verde);
}

.video {
	width: 100vw;
}

video {
	width: 100%;
	height: auto;
}

.container2 {
	height: 97vh;
	width: 80%;
	max-width: 1000px;
	margin-left: 12vw;
	padding-top: 30px;
	position: relative;
}

.container2 h2 {
	font-size: 85px;
	font-weight: bold;
}

.container2 h2 span {
	font-weight: 900;
}

.container2 p {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	max-width: 800px;
}

.container2 p span {
	font-weight: bold;
}

footer {
	height: 84px;
	background-color: var(--azul);
	clear: both;
	position: relative;
	margin-top: 0px;
	box-shadow: 3px -10px 40px rgba(0, 0, 0, 0.2);
	display: flex;
	color: var(--bege);
	justify-content: center;
	align-items: center;
}

footer img {
	position: absolute;
	left: 50px;
	top: 10px;
	height: 70%;
}

.imgContainer {
	width: 130%;
	height: 100%;
	position: absolute;
	top: 0;
}

.imgContainer img {
	width: 1300px;
	height: auto;
	position: absolute;
	bottom: 0px;
	right: 0;
}

.contactosDiv {
	height: 80%;
	width: 30%;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 50% 50%;
}

.contactosDiv h4 {
	margin: 0;
	padding-top: 16px;
}

.contactosDiv p:nth-child(2) {
	grid-row: 1/2;
	grid-column: 2/3;
	margin-bottom: 0;
	font-size: 13px;
	padding-top: 4px;
}

.contactosDiv p:nth-child(3) {
	grid-row: 2/3;
	grid-column: 2/3;
	margin-bottom: 0;
	margin-top: 6px;
	font-size: 13px;
}

.moradaDiv {
	height: 80%;
	width: 30%;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 50% 50%;
}

.moradaDiv h4 {
	margin: 0;
	padding-top: 16px;
	padding-left: 20px;
}

.contactosDiv p span {
	font-weight: 900;
}

.moradaDiv p:nth-child(2) {
	grid-row: 1/2;
	grid-column: 2/3;
	margin-bottom: 0;
	font-size: 13px;
	padding-top: 5px;
}

.moradaDiv p:nth-child(3) {
	grid-row: 2/3;
	grid-column: 2/3;
	margin-bottom: 0;
	margin-top: 6px;
	font-size: 13px;
	padding-top: 0px;
}

@media screen and (max-width: 915px) {
	.container2 {
		height: 130vh;
	}
}

@media screen and (max-width: 700px) {
	.container2 {
		height: 150vh;
	}
}

@media screen and (max-width: 565px) {
	.container2 {
		height: 170vh;
	}
}
