@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Black.woff2") format("woff2"),
		url("../fonts/AzoSans-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Light.woff2") format("woff2"),
		url("../fonts/AzoSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Bold.woff2") format("woff2"),
		url("../fonts/AzoSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Thin.woff2") format("woff2"),
		url("../fonts/AzoSans-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Regular.woff2") format("woff2"),
		url("../fonts/AzoSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Azo Sans";
	src: url("../fonts/AzoSans-Medium.woff2") format("woff2"),
		url("../fonts/AzoSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

:root {
	--azul: #1e1c41;
	--azulClaro: #484758;
	--verde: #11c671;
	--verdeEscuro: #1ab559;
	--bege: #fff0d2;
	--begeEscuro: #e6d8bd;
	--bg: var(--verde);
	--fg: var(--bege);
}

::selection {
	background-color: var(--verde);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--fg);
	color: var(--fg);
	transition: background 200ms ease-in-out, color 700ms ease-in-out;
	font-family: "Azo Sans", sans-serif;
	overflow-x: hidden;
}

header {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9vh;
	background-color: var(--azul);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.26);
	position: relative;
	z-index: 1000;
}

#logoContainer {
	display: flex;
	justify-content: flex-end;
}

#logo {
	width: 69px;
}

nav {
	background-color: var(--azul);
	height: 40px;
	display: flex;
	padding-left: 10px;
}

#navList {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style-type: none;
	width: 100%;
}

.navBtn {
	padding: 10px;
}

#navList li {
	padding: 0 30px;
	position: relative;
}

.icon1 {
	position: absolute;
	top: 4px;
	right: 100px;
}

.icon2 {
	position: absolute;
	top: 4px;
	right: 57px;
}

.btnTheme {
	border-radius: 3px;
	position: relative;
	width: 25px;
	height: 25px;
	background-color: var(--bege);
	cursor: pointer;
}

.icon3 {
	position: absolute;
	top: 2px;
	left: 1.5px;
}

li a {
	color: #fff0d2;
	font-size: 14px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--fg);
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all 0.3s;
	will-change: width;
}
nav ul li a:hover {
	color: #fff7e8;
}

/* stroke */
nav ul li a {
	position: relative;
}
nav ul li a:after {
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: ".";
	color: transparent;
	background: var(--verde);
	height: 3px;
}
nav ul li a:hover:after {
	width: 100%;
}

.divider {
	background-color: var(--bege);
	width: 2px;
	height: 70%;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 4px;
	background-color: var(--azul);
	margin: 5px;
}

.btnSubmit {
	box-sizing: border-box;
	background-color: var(--verde);
	height: 30px;
	border: 0;
	border-radius: 4px;
	font-family: "Azo Sans", sans-serif;
	font-weight: 500;
	font-size: 11px;
	color: var(--bege);
	padding: 9px 10px 9px 40px;
	cursor: pointer;
}

main {
	display: flex;
	justify-content: left;
	margin-left: 155px;
}

.container {
	width: 80%;
	max-width: 1000px;
	margin-left: 16.5%;
	margin-right: 25%;
}

h1 {
	color: #1e1c41;
	font-size: 89px;
	font-weight: bold;
	margin-top: 90px;
	margin-bottom: 5px;
	text-align: center;
}

h2 {
	font-size: 38px;
	margin-bottom: 24px;
}

h3 {
	color: #1e1c41;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 24px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

.ipContainer {
	display: grid;
	grid-template-columns: 43% 43%;
	max-width: 870px;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 20px 50px;
	margin-bottom: 50px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.ipContainer1 .inputContainer:first-child {
	grid-column: 1 / 3;
}

.ipContainer2 {
	display: grid;
	grid-template-columns: 43% 43%;
	grid-template-rows: 1fr 1fr;
}

#ou {
	font-weight: 800;
	font-size: 36px;
	align-self: center;
	margin: 20px 0 10px 0;
}

.inputContainerTexto {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputContainerTexto p {
	font-size: 18px;
	font-weight: 300;
	width: 85%;
	margin-left: 20px;
}

.inputContainerTexto span {
	font-size: 23px;
	font-weight: 600;
}

input {
	box-sizing: border-box;
	height: 50px;
	width: 100%;
	background-color: var(--bege);
	font-family: "Azo Sans", sans-serif;
	font-weight: 400;
	border: 0;
	margin: 10px 0;
	padding-top: 2px;
	padding-left: 60px;
	font-size: 18px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.26);
}

input::placeholder {
	color: rgba(72, 71, 88, 0.36);
	font-size: 15px;
}

label {
	font-weight: 500;
}

.svgInpContainer {
	position: relative;
}

.icon4 {
	position: absolute;
	top: 22px;
	left: 15px;
}

li {
	list-style: none;
}

.bgImg {
	width: 510px;
	position: absolute;
	bottom: 565px;
	right: -90px;
}

#btnVoltar {
	margin-bottom: 100px;
	width: 37%;
	height: 60px;
	background-color: #1e1c41;
	border: 0;
	color: var(--bege);
	font-family: "Azo Sans", sans-serif;
	font-weight: 850;
	border-radius: 4px;
	font-size: 20px;
	margin-top: 100px;
}

@media screen and (max-width: 1190px) {
	#navList li {
		padding: 0 20px;
	}
}

@media screen and (max-width: 1050px) {
	#navList li {
		padding: 0 10px;
	}
}

@media screen and (max-width: 1050px) {
	#logo {
		width: 90px;
	}
	body {
		overflow-x: hidden;
	}

	main {
		width: 100%;
	}

	header {
		display: flex;
		flex-direction: row;
	}

	nav {
		position: absolute;
		right: 0px;
		height: 100vh;
		width: 100vw;
		top: 0;
		background-color: var(--verde);
		display: flex;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.3s;
		will-change: transform;
	}

	header {
		background-color: transparent;
		justify-content: center;
		height: 100px;
		width: 100%;
	}

	nav {
		background-color: var(--azul);
	}

	.burger {
		display: block;
		margin-left: 80%;
		position: absolute;
		z-index: 1000;
	}

	#navList {
		flex-direction: column;
		height: 70vh;
		justify-content: space-between;
		align-items: flex-start;
		padding-left: 50px;
		padding-right: 50px;
	}

	.divider {
		display: none;
	}

	li a {
		font-size: 43px;
		font-weight: 500;
	}
}

.nav-active {
	transform: translateX(0%);
}

.dark {
	background-color: var(--azul);
	color: var(--bege);
}

.dark #btnLogin {
	background-color: var(--verde);
}

.dark #linkNewAccount span a {
	color: var(--verde);
}
