:root {
  --azul: #1e1c41;
  --verde: #1abf5b;
  --bege: #fff0d2;
  --bg: var(--bege);
  --fg: var(--azul);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  transition: background 200ms ease-in-out, color 700ms ease-in-out;
}

header {
  display: flex;
  justify-content: center;
  height: 67px;
  background-color: var(--verde);
}

#logo {
  padding-top: 3px;
  width: 64px;
}

a {
  text-decoration: none;
  color: var(--fg);
}

.light {
  --bg: var(--bege);
  --fg: var(--azul);
}

.dark {
  --bg: var(--azul);
  --fg: var(--bege);
}

.dark header {
  background-color: var(--bege);
}
